:root {
    --white: white;
    --lightgray: #D3D3D3FF;
    --gray: #8d8d8d;
    --darkgray: #505050;
}

.page {
    font-family: Arial, serif;
    background: var(--gray);
}

.header {
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    color: var(--white);
}


.game-window {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 450px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background: var(--lightgray);
    box-shadow: 5px 5px 30px var(--darkgray);
}

.game-field {
    display: grid;
    margin: 50px auto 0;
    max-width: 160px;
    max-height: 160px;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    outline: 5px;
}

[data--cell] {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: var(--white);
    color: var(--lightgray);
    border: 0;
    outline: 2px solid var(--lightgray);
}

.x-icon {
    width: 45px;
    height: 45px;
}

.game-field [data--cell]:hover {
    background: var(--lightgray);
    color: var(--white);
}

.output-field {
    width: 150px;
    margin: 20px auto 0;
    text-align: center;
    color: var(--gray);
}

.scoreField {
    width: 150px;
    margin: 20px auto 0;
    text-align: center;
    color: var(--gray);
}

.playerXScore,
.playerOScore {
    margin-top: 10px;
}

.reset-button {
    margin: 20px auto 0;
    width: 150px;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    border-radius: 10px;
    color: var(--gray);
    background: var(--white);
}

.reset-button:hover {
    color: var(--white);
    background: var(--gray);
}
